.display {
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
}

#facts {
    width: 100%;
    padding: 20px;
    text-align: justify;
    text-align-last: left;
}

footer {
    text-align: center;
}

header img{
    height: 45vh;
    border-radius: 50px
}